---
import Layout from '../layouts/Layout.astro'
---
<Layout>
<div>
  <h1 class="text-center font-thin mt-14 underline decoration-1 underline-offset-8 text-white text-4xl">About Me</h1>
  <ul class="text-center font-thin mt-14 decoration-1 underline-offset-8 text-white text-2xl">
    <h1>Hey, My name is Radha Joshi.</h1>
    <h1>I'm an 18 year old, with intrests ranging from reading to singing to programming.</h1>
    <h1> Follow along with my online journey.</h1></ul >
</div>


</Layout>
