---
import Layout from '../layouts/Layout.astro'
---
<Layout>
	<div>
    <img src="/images/cat.jpeg" class="mt-16 ml-32 rounded ">
   </div>
   <div class="text-white text-right absolute bottom-2/3 right-48 mt-16">
    <h1 class="text-6xl tracking-wide font-light subpixel-antialiased">Get in touch </h1></div>
    <div class=" absolute bottom-48 right-80 space-y-14">
    <p><a href="https://www.instagram.com/joshi.ech/" target="_blank"><img src="/images/ig.png" class="w-[50px]  cursor-pointer inline-block hover:w-[60px]"></a></p>
    <p><a href="https://twitter.com/joshi_ech" target="_blank"><img src="/images/twt.png" class="w-[50px]  cursor-pointer inline-block hover:w-[60px]"></a></p>
    <p><a href="mailto:radha.joshi.1907@gmail.com" target="_blank"><img src="/images/mail.png" class="w-[50px] cursor-pointer inline-block hover:w-[60px]"></a></p>
    </div>
  
</Layout>
