
---
import Layout from '../layouts/Layout.astro'
---
<Layout>
	
	<div class="text-white font-thin antialiased">
	<h1 class="text-5xl font-thin tracking-wide mt-48 float-end pr-20"> My name is Radha Joshi.</h1>
	</div>
</Layout>