
---
import Layout from '../layouts/Layout.astro'
---
<Layout>
	
	<div class="text-white font-thin antialiased">
	<h1 class="text-5xl font-thin tracking-wide mt-48 float-end pr-20"> My name is Radha Joshi.</h1>
	<h2 class="text-4xl font-thin tracking wide mt-64 float-end " > ----my info goes here---- </h2>
	<a href="mailto:radha.joshi.1907@gmail.com" class="mt-64 float-end">Contact Me</a>

</Layout>