---
import Layout from '../layouts/Layout.astro'
---
<Layout>
	
<h1 class=" text-white text-6xl font-thin tracking wide"> Hey! this is my now page :)</h1>
<h2 class="text-white text-5xl font-thin tracking-wide">Currently working on improving my website, preparing for a college entrance exam and TRAINING Visharad Poorna </h2>
</Layout>