
---
import GithubLogo from "../components/GithubLogo.astro"
import LinkedinLogo from "../components/LinkedinLogo.astro"
---
<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Radha's website</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body class="bg-[#38383a]">

    <div class=" m-5 p-2 ">

        <nav class="flex-row items-center bg-[#38383a]">
            <a href="https://radhajoshi.com/"><img src="/images/logo-no-background.png" class="w-[200px] cursor-pointer inline-block "></a>

            <ul class="inline-block flex-1 text-centre">
                <li class="list-none inline-block px-5 "><a href="/" class=" no-underline hover:underline pl-16  text-white ">Home</a></li>
                <li class="list-none inline-block px-5"><a href="/about/" class="no-underline hover:underline px-5 text-white">About me</a>
                </li>
                <li class="list-none inline-block px-5"><a href="/contact/" class="no-underline hover:underline text-white">Contact</a></li>
                <li class="list-none inline-block px-5"><a href="/now/" class="no-underline hover:underline text-white">Now</a></li>
                </ul>

                
                <ul class="inline-block float-end text-white px-3 ">
                <p><a href="https://github.com/radha-joshi" target="_blank"><GithubLogo/></a></p>
                </ul>
                <ul class="inline-block float-end text-white px-5">
                <p><a href="https://www.linkedin.com/in/radha-joshi-4763472a2/" target="_blank"><LinkedinLogo/></a></p>
                </ul>
                    
               #class="w-[25px] text-white cursor-pointer inline-block hover:w-[30px]#
               
                </span>
            
        </nav>
    </div>
    

	<slot />
</body>

</html>
